.page-body
  #about
    .panel.primary
      .panel-header
        %h1 The Khan Academy for Computer Engineers.

      .panel-body
        %p This application is meant to be the holy grail for any computer engineering, electrical engineering, or computer science major.
