#contact
  .header
    %h1.blue Contact

  .content
    .text-block
      %h1.blue Questions?
      %ul
        %li
          Technical Development Chair:
          %span.email development.uf.ace@gmail.com

        %li
          Web and Graphic Design Chair:
          %span.email webmaster.uf.ace@gmail.com

        %li
          President:
          %span.email president.uf.ace@gmail.com


    .text-block
      %h1.blue Learn about upcoming events
      %ul
        %li
          Check us out on
          %span.link= link_to 'Facebook', root_path
          or visit
          %span.link= link_to 'gatorace.org', 'http://gatorace.org/'

    .text-block
      %h1.blue Bugs
      %ul
        %li
          Contact the Web and Graphic Design chair:
          %span.email webmaster.uf.ace.gmail.com
