#show_post
  %h1 Some arbitary post
  .post-content
    .video= image_tag 'placeholder.jpg'
    .content
      %p.publisher
        %span.author Dakota
        |
        %span.date #{Date.today.strftime("%B %-d, %Y" )}
      %p.descriptin= @string

  %h2 Comments
  .comments-container
    .comment
      %p.username ChadCoolGuy:
      %p.content This is some cool stuff!
      %a
        %p View replies (6)
    .comment
      %p.username LukePfeiffer:
      %p.content Nulla varius pharetra metus, et mollis diam tincidunt sed. Nulla ac ante nunc. Cras eleifend risus non eros molestie euismod. Aenean non sem orci. Aenean varius vitae risus molestie interdum. Nam ut sodales ipsum. Nulla vulputate, tortor sed convallis congue, purus libero dignissim nisi, non consectetur nulla felis non lacus.
      %a
        %p View replies (2)
    .comment
      %p.username ChadCoolGuy:
      %p.content This is some cool stuff!
