/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
@import "bourbon";
@import "home";
@import "users";
@import "neat";
@import "base/base";
 */
#main{
  $font: "Varela Round", sans-serif;
  $dark-gray: #111111;
  $link-font-size: 24px;
  $soft-gray: #999999;
  $link-color: #517a9e;
  $gator-orange: #dd661e !default;
  $gator-blue: #00529b;
  $danger-color: #FA3434;
  $warning-color: #FF9308;
  $success-color: #55acee;
  $primary-color: #2ecc71;
  $body-size: 60%;

  height: 100%;
  text-align: center;
  font-family: $font;
  margin-left: 0;
  margin-right: 0;
  background-color: darken(#fff, 1%);

  .bold{
    font-weight: bold;
  }

  .italic{
    font-style: italic;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }
  .orange{
    color: $gator-orange;
  }

  .blue{
    color: $gator-blue;
  }

  .navigation{
    text-transform: uppercase;
    color: $dark-gray;
    .actions{
      margin-top: 3em;
      background-color: rgba(0, 50, 132, .85);
      padding: 1em;
      a{
        margin: 0;
        text-decoration: none;
        margin: 5px 10px;
        padding: 0 0 3px 0;
        color: #fff;
        font-size: 20px;
        font-weight: 200;
        &:hover{
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
 .form{
    text-align: left;

    h1{
      border-bottom: 1px solid $soft-gray;
    }

    fieldset{
      border: none;
    }

    dd{
      margin: 1em 0;
    }

    input[type=text], input[type=password], input[type=date]{
      padding: 10px;
      width: 100%;
      height: 2em;
      font-size: 18px;
      border-radius: 4px;
    }

    textarea{
      width: 100%;
      line-height: 150%;
      padding: 10px;
      font-size: 18px;
      height: 80%;
      border-radius: 4px;
    }

    input[type=submit]{
      padding: 0 10px;
      font-size: 18px;
      height: 2em;
      border-radius: 18px;
      color: #28AADC;
      border: 1px solid #28AADC;
      background: #fff;
      font-weight: bold;
      &:hover{
        color: darken(#28AADC, 20%);
        border: 1px solid darken(#28AADC, 20%);
      }
    }

    .inline{
      width: 100%;

      div{
        display: inline-block;
      }

      .first{
        margin-right: 1em;
      }

      .form-container{
        width: 48%;
        input{
          width: 100%;
        }
      }

    }
  }
  .footer {
    width: 100%;
    .links {
      .social {
        padding: 1em 0;
        width: 98%;
        margin: 0 1em;
        float: left;
        border-top: 1px solid $soft-gray;

        li {
          list-style-type: none;
          float: right;
          font-size: 1.4em;
          padding-right: 0.7em;

          &:last-child {
            padding-left: 0;
          }
        }

        img{
          filter: grayscale(100%);
          width: 3.8em;
          position: relative;
          top: -1.0em;
          left: -0.8em;

          &:hover{
            filter: grayscale(0%);
          }
        }

        i{
          font-size: 2em;
          color: $gator-blue;
          filter: grayscale(80%);
        }
        .fa-globe{
          &:hover{
            filter: grayscale(0%);
            color: $gator-blue;
          }
        }
        .fa-slack{
          &:hover{
            filter: grayscale(20%);
            color: #39AE85;
          }
        }
        .fa-facebook-official{
          &:hover{
            filter: grayscale(0%);
            color: #3b5998;
          }
        }
      }
    }
  }
}
