/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bourbon";
@import "base/base";
@import "contact";
@import "comments";
@import "form";
@import "search_bar";
@import "pagination";
@import "posts";
@import "tables";
@import "cards";

// Form styles

h1{
  font-size: 30px;
}

.message{
  padding: 15px;
  margin: 20px auto;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  display: block;
  width: 60%;
}

.danger-alert{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.success-alert{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#main{
  $font: "Varela Round", sans-serif;
  $dark-gray: #111111;
  $link-font-size: 24px;
  $soft-gray: #999999;
  $link-color: #517a9e;
  $gator-orange: #dd661e !default;
  $gator-blue: #00529b;
  $danger-color: #FA3434;
  $warning-color: #FF9308;
  $success-color: #55acee;
  $primary-color: #2ecc71;
  $body-size: 60%;
  $text-gray: #9b9b9b;

  height: 100%;
  text-align: center;
  font-family: $font;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  // Button Styles

  .hidden{
    display: none;
  }

  .success{
    border: 1px solid $success-color;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    color: $success-color;
    &:hover{
      color: darken($success-color, 5%);
      background-color: darken(#fff, 1%);
    }
  }

  .edit{
    border: 1px solid $warning-color;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    color: $warning-color;
    &:hover{
      color: darken($warning-color, 5%);
      background-color: darken(#fff, 1%);
    }
  }

  .delete{
    padding: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    color: $danger-color;
    border: 1px solid $danger-color;
    &:hover{
      color: darken($danger-color, 5%);
      background-color: darken(#fff, 1%);
    }
  }

  .bold{
    font-weight: bold;
  }

  .italic{
    font-style: italic;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }
  .orange{
    color: $gator-orange;
  }

  .blue{
    color: $gator-blue;
  }

  .page-content{
    margin-left: auto;
    margin-right: auto;
    width: $body-size;
    background-color: #fff;
  }

  @media only screen and (max-device-width: 768px) {
    .page-content{
      width: 80%;
    }
  }

  .admin-actions{
    margin: 2em;
    a{
      padding: 0.5em;
      text-decoration: none;
      border-radius: 5px;
      &:hover{
        background-color: darken(#fff, 1%);
      }
    }
    .view{
      color: $primary-color;
      border: 1px solid $primary-color;
      &:hover{
        color: darken($primary-color, 5%);
      }
    }
    .profile{
      color: $warning-color;
      border: 1px solid $warning-color;
      &:hover{
        color: darken($warning-color, 5%);
      }
    }
    .create{
      color: $success-color;
      border: 1px solid $success-color;
      &:hover{
        color: darken($success-color, 5%);
      }
    }
  }
  .user-info{
  }

  .navigation{
    width: 100%;
    background-color: #fafafb;
    border-bottom: 1px solid #dadada;
    .actions{
      margin-left: 5em;
      text-align: left;
      padding: 0.5em;
      margin-bottom: 1.0em;
      a{
        text-decoration: none;
        padding: 25px 10px;
        color: #535A60;
        font-size: 1.2em;
        font-weight: 200;
        &:hover{
          background-color: lighten(#ccc, 15%);
        }
      }

      .header-image{
        position: relative;
        top: 10px;
        a{
          padding: 34px 10px 14px 10px;
        }

        img{
          width: 4%;
        }
      }
    }

    @media only screen and (max-device-width: 768px) {
      .header-image{
        img{
          width: 12%;
        }
      }

      .actions{
        text-align: center;
        font-size: 20px;
      }
    }
  }

  .footer {
    width: 100%;
    .links {
      .social {
        padding: 1em 0;
        width: 98%;
        margin: 0 1em;
        float: left;
        border-top: 1px solid $soft-gray;

        li {
          list-style-type: none;
          float: right;
          font-size: 1.4em;
          padding-right: 0.7em;

          &:last-child {
            padding-left: 0;
          }
        }

        img{
          filter: grayscale(70%);
          width: 3.8em;
          position: relative;
          top: -1.0em;
          left: -0.8em;

          &:hover{
            filter: grayscale(0%);
          }
        }

        i{
          font-size: 2em;
          color: $gator-blue;
          filter: grayscale(70%);
        }
        .fa-globe{
          &:hover{
            filter: grayscale(0%);
            color: $gator-blue;
          }
        }
        .fa-slack{
          &:hover{
            filter: grayscale(20%);
            color: #39AE85;
          }
        }
        .fa-facebook-official{
          &:hover{
            filter: grayscale(0%);
            color: #3b5998;
          }
        }
      }
    }
  }

  .admin-posts-container{
    .selected{
      background-color: #ccc;
      font-weight: bold;
    }
    .success{
      border-radius: 0;
      border: none;
    }
    .filters{
      margin-bottom: 1em;
    }
  }

  #sign_in{
    h1{
      font-weight: 200;
      font-size: 1.8em;
    }
    .sign_up{
      text-align: left;
    }
    .sign_in{
      text-align: left;
    }
  }

  #show_post{
    text-align: left;
    h1{
      text-align: center;
      color: $gator-blue;
    }
    .publisher{
      color: $soft-gray;

      .author{
        color: $gator-blue;
      }

      .date{
        font-style: italic;
      }
    }

    a{
      text-decoration: none;
      .course{
        font-size: 16px;
        color: $gator-blue;
        margin: 0.25em 0;
      }
    }

    .video{
      width: 100%;
      iframe{
        width: 100%;
        height: 60%;
      }
    }

    h2{
      font-size: 20px;
      font-weight: 400;
    }

    .description{
      border-bottom: 1px solid $soft-gray;
    }

    .form{
      border: none;
      textarea{
        height: 5em;
      }
      input{
        float: right;
      }
    }

  }

  #admin-overview{
    h2{
      text-align: left;
      .success{
        font-size: 20px;
        border: none;
      }
    }
  }
}
