/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
@import "bourbon";
@import "home";
@import "users";
@import "neat";
@import "base/base";
 */

// Form styles

.message{
  padding: 15px;
  margin: 20px auto;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  display: block;
  width: 60%;
}

.danger-alert{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.success-alert{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.form{
  padding: 1em;
  border: 1px solid #999;
  border-radius: 5px;

  fieldset{
    border: none;
    text-align: left;

    label{
      font-size: 1.2em;
    }

    dd{
      margin: 0;
    }
    dt{
      margin-top: 1em;
    }
    textarea{
      width: 100%;
      height: 20em;
      border-radius: 5px;
      padding: 0.8em;
      font-size: 16px;
      letter-spacing: 1.5px;
    }
    input[type=submit]{
      width: 12.5%;
      padding: 0.5em;
      font-size: 16px;
    }

    @media only screen and (max-device-width: 768px) {
      input[type=submit]{
        width: 25%;
      }
    }

    select{
      background-color: #fff;
    }
    select, input[type=text], input[type=password], input[type=date]{
      width: 50%;
      border-radius: 5px;
      padding: 0.8em;
      font-size: 16px;
      letter-spacing: 1.5px;
    }
  }
}
// Search bar styles
.search-bar {
  $base-spacing: 1.5em !default;
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);


  input[type=search]{
    letter-spacing: 1.5px;
  }

  @media only screen and (min-device-width: 769px) {
    display: inline-block;
    float: right;
    input[type=search] {
      position: relative;
      top: 12px;
      float: left;
      background-color: white;
      border: 1px solid $base-border-color;
      box-sizing: border-box;
      display: block;
      font-size: 1em;
      margin: 0;
      padding: ($base-spacing / 3) ($base-spacing / 3);
      position: relative;
      transition: border-color;
      display: inline-block;
      width: 300px;
    }

    button[type=submit] {
      padding: 0.53em 2em;
      display: inline-block;
      position: relative;
      top: 12px;
      i{
        font-size: 1.4em;
        color: #9e9e9e;
      }
    }
  }

  @media only screen and (max-device-width: 768px) {
    margin-top: 1em;
    input[type=search] {
      float: left;
      background-color: white;
      border: 1px solid $base-border-color;
      box-sizing: border-box;
      display: block;
      font-size: 1.5em;
      margin: 0;
      padding: ($base-spacing / 3) ($base-spacing / 3);
      position: relative;
      transition: border-color;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    button[type=submit] {
      position: relative;
      left: -40px;
      outline: none;
      padding: 1.65em 3em;
      i{
        font-size: 1.4em;
        color: #9e9e9e;
      }
    }
  }
  @media only screen and (min-device-width: 769px) and (max-device-width: 1500px) {
    button[type=submit]{
      position: relative;
      top: 8px;
    }
    input[type=search]{
      top: 8px;
      position: relative;
    }
  }
}

#main{
  $font: "Varela Round", sans-serif;
  $dark-gray: #111111;
  $link-font-size: 24px;
  $soft-gray: #999999;
  $link-color: #517a9e;
  $gator-orange: #dd661e !default;
  $gator-blue: #00529b;
  $danger-color: #FA3434;
  $warning-color: #FF9308;
  $success-color: #55acee;
  $primary-color: #2ecc71;
  $body-size: 60%;

  height: 100%;
  text-align: center;
  font-family: $font;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  // Button Styles


  .success{
    border: 1px solid $success-color;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    color: $success-color;
    &:hover{
      color: darken($success-color, 5%);
      background-color: darken(#fff, 1%);
    }
  }

  .edit{
    border: 1px solid $warning-color;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    color: $warning-color;
    &:hover{
      color: darken($warning-color, 5%);
      background-color: darken(#fff, 1%);
    }
  }

  .delete{
    padding: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    color: $danger-color;
    border: 1px solid $danger-color;
    &:hover{
      color: darken($danger-color, 5%);
      background-color: darken(#fff, 1%);
    }
  }

  .bold{
    font-weight: bold;
  }

  .italic{
    font-style: italic;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }
  .orange{
    color: $gator-orange;
  }

  .blue{
    color: $gator-blue;
  }

  .page-content{
    margin-left: auto;
    margin-right: auto;
    width: $body-size;
    background-color: #fff;
  }

  @media only screen and (max-device-width: 768px) {
    .page-content{
      width: 80%;
    }
  }

  .admin-actions{
    margin: 2em;
    a{
      padding: 0.5em;
      text-decoration: none;
      border-radius: 5px;
      &:hover{
        background-color: darken(#fff, 1%);
      }
    }
    .view{
      color: $primary-color;
      border: 1px solid $primary-color;
      &:hover{
        color: darken($primary-color, 5%);
      }
    }
    .profile{
      color: $warning-color;
      border: 1px solid $warning-color;
      &:hover{
        color: darken($warning-color, 5%);
      }
    }
    .create{
      color: $success-color;
      border: 1px solid $success-color;
      &:hover{
        color: darken($success-color, 5%);
      }
    }
  }
  .user-info{
  }

  .navigation{
    width: 100%;
    background-color: #fafafb;
    border-bottom: 1px solid #dadada;
    .header-image{
      img{
        width: 6%;
      }
    }

    .actions{
      margin-left: 5em;
      text-align: left;
      padding: 0.5em;
      margin-bottom: 1.0em;
      a{
        text-decoration: none;
        padding: 25px 10px;
        color: #535A60;
        font-size: 1.2em;
        font-weight: 200;
        &:hover{
          background-color: lighten(#ccc, 15%);
        }
      }
    }

    @media only screen and (max-device-width: 768px) {
      .header-image{
        img{
          width: 12%;
        }
      }

      .actions{
        text-align: center;
        font-size: 20px;
      }
    }
  }

  .footer {
    width: 100%;
    .links {
      .social {
        padding: 1em 0;
        width: 98%;
        margin: 0 1em;
        float: left;
        border-top: 1px solid $soft-gray;

        li {
          list-style-type: none;
          float: right;
          font-size: 1.4em;
          padding-right: 0.7em;

          &:last-child {
            padding-left: 0;
          }
        }

        img{
          filter: grayscale(70%);
          width: 3.8em;
          position: relative;
          top: -1.0em;
          left: -0.8em;

          &:hover{
            filter: grayscale(0%);
          }
        }

        i{
          font-size: 2em;
          color: $gator-blue;
          filter: grayscale(70%);
        }
        .fa-globe{
          &:hover{
            filter: grayscale(0%);
            color: $gator-blue;
          }
        }
        .fa-slack{
          &:hover{
            filter: grayscale(20%);
            color: #39AE85;
          }
        }
        .fa-facebook-official{
          &:hover{
            filter: grayscale(0%);
            color: #3b5998;
          }
        }
      }
    }
  }

  .admin-posts-container{
    .selected{
      background-color: #ccc;
      font-weight: bold;
    }
    .success{
      border-radius: 0;
      border: none;
    }
    .filters{
      margin-bottom: 1em;
    }
  }

  .posts-container{
    @media only screen and (max-device-width: 768px) {
      .post{
        border-bottom: 1px solid $soft-gray;
        padding: 0 0 1em 0;

        .details{
          p{
            text-align: left;
          }
        }

        a{
          text-decoration: none;
        }

        h1{
          a{
            font-size: 1.5em;
            text-decoration: none;
            color: $gator-blue;
          }
        }

        i{
          display: none;
        }

        .video{
          width: 100%;
          img{
            width: 100%;
          }
        }

        .details{
          p{
            text-align: right;
          }
          .italic{
            font-size: 12px;
            font-style: italic;
            color: $soft-gray;
            font-weight: 200;
            margin: 0;
          }
          a{
            .course{
              font-size: 12px;
              color: $gator-blue;
              margin: 0.25em 0;
            }
          }
        }

        .description{
          margin-top: 1.0em;
          font-size: 12px;
          text-align: left;
          a{
            color: #000;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }

    @media only screen and (min-device-width: 769px) and (max-device-width: 1500px) {
      .post{
        border-bottom: 1px solid lighten(#ccc, 10%);
        padding-bottom: 2em;
        padding-right: 1em;

        &:hover{
          background-color: darken(#fff, 1%);
        }

        .details{
          p{
            text-align: right;
          }
          .course{
            color: $gator-blue;
            font-size: 14px;
            margin: 0 0 0.25em 0;
          }
          .italic{
            font-size: 14px;
            font-style: italic;
            color: $soft-gray;
            font-weight: 200;
            margin: 0;
          }
        }

        a{
          text-decoration: none;
        }

        .description a{
          text-decoration: none;
          color: #000;
          cursor: pointer;
        }

        h1{
          text-align: left;
          margin: 0.5em 0 0.2em 2vw;
          a{
            color: $gator-blue;
            padding-top: 1em;
            text-align: left;
            font-weight: 200;
            font-size: .8em;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        .video{
          display: inline-block;

          &:hover{
            cursor: pointer;
            img{
              filter: brightness(70%);
            }
          }

          .fa{
            opacity: 0;
          }

          img{
            width: 192px;
            height: 106px;
          }
        }

        .description{
          line-height: 1.4em;
          display: inline-block;
          text-align: left;
          width: 60%;
          min-width: 100px;
          font-size: 0.8em;
        }
      }
    }

    @media only screen and (min-device-width: 1501px){
      .post{
        border-bottom: 1px solid lighten(#ccc, 10%);
        padding-bottom: 2em;
        padding-right: 1em;

        &:hover{
          background-color: darken(#fff, 1%);
        }

        .details{
          p{
            text-align: right;
          }
          .course{
            color: $gator-blue;
            font-size: 14px;
            margin: 0 0 0.25em 0;
          }
          .italic{
            font-size: 14px;
            font-style: italic;
            color: $soft-gray;
            font-weight: 200;
            margin: 0;
          }
        }

        a{
          text-decoration: none;
        }

        .description a{
          text-decoration: none;
          color: #000;
          cursor: pointer;
        }

        h1{
          text-align: left;
          margin: 0.5em 0 0.2em 2vw;
          a{
            color: $gator-blue;
            padding-top: 1em;
            text-align: left;
            font-weight: 200;
            font-size: 1.0em;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        .video{
          display: inline-block;

          &:hover{
            cursor: pointer;
            img{
              filter: brightness(70%);
            }
            .fa{
              opacity: 1;
              -webkit-transition: all 0.5s ease-in-out;
              -moz-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out;
            }
          }

          .fa{
            opacity: 0;
            color: #fff;
            font-size: 4vw;
            position: relative;
            left: -2.4em;
            top: -0.7em;
          }

          img{
            width: 16vw;
            height: 9vw;
          }
        }
        .description{
          line-height: 1.4em;
          position: relative;
          top: -2.6em;
          display: inline-block;
          text-align: left;
          width: 60%;
          min-width: 100px;
        }
      }
    }
  }

  #sign_in{
    h1{
      font-weight: 200;
      font-size: 1.8em;
    }
    .sign_up{
      text-align: left;
    }
    .sign_in{
      text-align: left;
    }
  }

  #show_post{
    text-align: left;
    h1{
      text-align: center;
      color: $gator-blue;
    }
    .publisher{
      color: $soft-gray;

      .author{
        color: $gator-blue;
      }

      .date{
        font-style: italic;
      }
    }

    a{
      text-decoration: none;
      .course{
        font-size: 16px;
        color: $gator-blue;
        margin: 0.25em 0;
      }
    }

    .video{
      width: 100%;
      iframe{
        width: 100%;
        height: 60%;
      }
    }

    h2{
      font-size: 20px;
      font-weight: 400;
    }

    .description{
      border-bottom: 1px solid $soft-gray;
    }

    .form{
      border: none;
      textarea{
        height: 5em;
      }
      input{
        float: right;
      }
    }

    .comments-container{
      margin-bottom: 10px;

      .comment{
        margin: 1em 0;
        padding-bottom: 1em;
        border-bottom: 1px solid darken(#fff, 10%);

        &:hover{
          background-color: darken(#fff, 1%);
        }

        .username{
          display: inline;
          color: $gator-blue;
        }

        a p{
          margin-top: 10px;
        }

        .content{
          display: inline;
        }
      }
    }
  }

  #about{
    margin-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fff;
    text-align: left;
    .content{
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
    .header{
      h1{
        border-bottom: 1px solid $soft-gray;
      }
    }
    .text-block{
      height: 6.5em;
      padding: 1em 0.5em;
      &:hover{
        background-color: darken(#fff, 6%);
      }

      .orange{
        color: $gator-orange;
        &:hover{
          color: darken($gator-orange, 7%);
        }
      }

      .sub-header{
        color: $gator-orange;
        height: 2.8em;
        float: left;
        margin-right: 2em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
        width: 4em;
      }
      .sub-text{
        color: $gator-blue;
        font-size: 18px;
        line-height: 25px;
        a{
          color: $gator-orange;
          &:hover{
            color: darken($gator-orange, 10%);
          }
        }
      }
    }
  }

  #admin-overview{
    h2{
      text-align: left;
      .success{
        font-size: 20px;
        border: none;
      }
    }
  }

  #contact{
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #fff;
    text-align: left;

    .header{
      h1{
        margin-left: 0;
        border-bottom: 1px solid $soft-gray;
      }
    }

    .text-block{

      h1{
        font-size: 24px;
      }
      ul{
        font-size: 20px;
        li{
          list-style-type: none;
          padding: 0.80em 0;
          .link a{
            color: $gator-blue;
            text-decoration: none;
            &:hover{
              color: darken($gator-blue, 8%);
            }
          }
          .email{
            color: lighten($gator-blue, 5%);
            &:hover{
             color: darken($gator-blue, 6%);
            }
          }
        }
      }
    }
  }

  // Pagination styles
  .pagination{
    $background-color: #D7DEF0;
    $font-color: #4D4D4D;
    padding-top: 1em;
    text-align: center;
    margin: 15px 0 30px 0;
    a, .previous_page, .next_page, em{
      background-color: $background-color;
      text-decoration: none;
      color: $font-color;
      padding: 10px;
      border-radius: 4px;
      &:hover{
        background-color: darken($background-color, 8%);
      }
    }

    em, .disabled{
      background-color: darken($background-color, 10%);
    }
  }

  // Table styles

  .tables {
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-line-height: 1.5em !default;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $medium-screen: 40em !default;
    $large-screen: 53.75em !default;
    $base-font-color: $dark-gray !default;
    $table-border-color: $base-border-color;
    $table-border: 1px solid $table-border-color;
    $table-background: lighten($table-border-color, 12%);
    $table-header-background: lighten($table-background, 10%);
    $table-hover-background: darken($table-background, 5%);
    $table-stripe-background: darken($table-background, 2%);
    $table-stripe-background-hover: darken($table-stripe-background, 5%);
    $table-padding: 0.75em 1em;

    border: $table-border;
    border-collapse: separate;
    border-left: 0;
    border-radius: $base-border-radius;
    border-spacing: 0;
    width: 100%;

    tbody {
      background-color: $table-background;

      tr:hover > td, tr:hover > th {
        background-color: $table-hover-background;
      }
      tr:nth-child(even) {
        background-color: $table-stripe-background;
        &:hover > td {
          background-color: $table-stripe-background-hover;
        }
      }
    }

    thead:first-of-type {
      tr:first-child > th:first-child {
        border-top-left-radius: $base-border-radius;
      }

      tr:first-child > th:last-child {
        border-top-right-radius: $base-border-radius;
      }
    }

    tbody:last-child {
      tr:last-child > td:first-child {
        border-bottom-left-radius: $base-border-radius;
      }

      tr:last-child > td:last-child {
        border-bottom-right-radius: $base-border-radius;
      }
    }

    thead {
      th {
        background-color: $table-header-background;
        border-bottom: 0;
        border-left: 1px solid $table-border-color;
        padding: $table-padding;
        text-align: left;

        &:first-child {
          border-left: 0;
        }
      }
    }

    tbody {
      background-color: $table-background;

      td {
        border-bottom: 0;
        border-left: 1px solid $table-border-color;
        border-top: 1px solid $table-border-color;
        padding: $table-padding;

        &:first-child {
          border-left: 0;
        }

        button {
          display: inline-block;
          font-size: 0.7em;
          line-height: $base-line-height;
          margin-bottom: 0.3em;
          margin-right: 0.5em;
          outline: none;
          padding: 0.3em 1em;
          width: 100%;

        }
      }
    }
  }

  // Cards
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a{
      text-decoration: none;
    }
  }

  .card {
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    $card-border-color: $base-border-color;
    $card-border: 1px solid $card-border-color;
    $card-background: lighten($card-border-color, 10%);
    $card-header-background: $card-background;
    $card-margin: 1em;
    $card-image-hover-opacity: 0.7;
    $card-image-hover-color: #F8F2B4;

    background-color: $card-background;
    border: $card-border;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);
    cursor: pointer;
    flex-basis: 15em;
    flex-grow: 1;
    margin: 0 $card-margin $base-spacing $card-margin;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 33%;

    .card-image {
      background-color: $card-image-hover-color;
      height: 150px;
      max-height: 150px;
      overflow: hidden;

      img {
        opacity: 1;
        transition: all 0.2s ease-in-out;
        width: 100%;
      }
    }

    .card-header {
      background-color: $card-header-background;
      border-bottom: $card-border;
      border-radius: $base-border-radius $base-border-radius 0 0;
      font-weight: bold;
      line-height: 1.5em;
      padding: ($base-spacing / 3) ($base-spacing / 2);
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      padding-bottom: 1.5em;
      .title{
        font-size: 20px;
        float: left;
        color: $gator-blue;
      }
      .italic{
        font-size: 14px;
        font-style: italic;
        color: darken($soft-gray, 5%);
        font-weight: 200;
        margin: 0;
        float: right;
      }
    }

    .card-copy {
      font-size: 0.9em;
      line-height: 1.5em;
      padding: ($base-spacing / 2) ($base-spacing / 2);
      text-align: left;
      color: #000;
      .description{
        color: #000;
      }
      .edit{
        float: right;
        margin-top: 10px 0 ;
      }
    }

    &:focus, &:hover {
      cursor: pointer;

      img {
        opacity: $card-image-hover-opacity;
      }
    }

    &:active {
      background-color: $card-background;

      .card-header {
        background-color: $card-background;
      }
    }
  }


}
