// Styles dealing with the cards
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a{
    text-decoration: none;
  }
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;
  $font: "Varela Round", sans-serif;
  $dark-gray: #111111;
  $link-font-size: 24px;
  $soft-gray: #999999;
  $link-color: #517a9e;
  $gator-orange: #dd661e !default;
  $gator-blue: #00529b;
  $danger-color: #FA3434;
  $warning-color: #FF9308;
  $success-color: #55acee;
  $primary-color: #2ecc71;
  $text-gray: #9b9b9b;

  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  flex-basis: 20em;
  flex-grow: 1;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 60%;

  .card-image {
    background-color: $card-image-hover-color;
    height: 200px;
    max-height: 200px;
    overflow: hidden;

    img {
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    padding-bottom: 1.5em;
    .title{
      font-size: 20px;
      float: left;
      color: $gator-blue;
    }
    .italic{
      font-size: 14px;
      font-style: italic;
      color: darken($soft-gray, 5%);
      font-weight: 200;
      margin: 0;
      float: right;
    }
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    text-align: left;
    color: #000;
    .description{
      color: #000;
    }
    .edit{
      float: right;
      margin-top: 10px 0 ;
    }
  }

  &:focus, &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

