// Styles for forms
.form{
  padding: 1em;
  border: 1px solid #999;
  border-radius: 5px;

  border: none;
  text-align: left;

  label{
    font-size: 1.2em;
  }

  dd{
    margin: 0;
  }
  dt{
    margin-top: 1em;
  }
  @media only screen and (max-device-width: 768px) {
    input[type=submit]{
      width: 25%;
    }
  }

  select{
    background-color: #fff;
  }

  select, input[type=text], input[type=password], input[type=date]{
    width: 100%;
    border-radius: 5px;
    padding: 0.8em;
    font-size: 16px;
    letter-spacing: 1.5px;
  }

  select{
    padding: 0.9em;
  }

  .inline{
    .inline-fields{
      display: inline-block;

      label{
        display: block;
      }
    }
  }
}
